body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo .logo-black {
  color: #2e2f42;
}
.navi-element {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.navi-element:hover {
  color: #404bbf;
}
.navi-element:focus {
  color: #404bbf;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts a {
  color: #434455;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.header .container {
  display: flex;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.navi {
  display: flex;
  align-items: center;
}
.navi-elements {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.contacts-elements {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

/* section-one */
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  border: 1px solid #000;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titel-section-one {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: #4d5ae5;
  cursor: pointer;
  margin-top: 48px;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* section-two */
.section {
  padding: 120px 0;
}
.item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-benefits {
  display: flex;
  gap: 24px;
}
.item-benefits {
  width: calc((100% - 3 * 24px) / 4);
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264pxpx;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

/* section-three */
.section.back {
  background-color: #f4f4fd;
}
.team-member {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list .team-member {
  width: calc((100 - 72) / 4);
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.info-member {
  padding: 32px 0;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 16px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-list .link:hover,
.social-list .link:focus {
  background-color: #404bbf;
}

/*section-four*/
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-item-info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: 360px;
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo .logo-white {
  color: #f4f4fd;
}
.footer-p {
  color: #f4f4fd;
}
.logo.foot {
  display: inline-block;
  margin-bottom: 16px;
}
